.window.bin_ed article {
  background-color: hsla(200, 25%, 20%, 1);
}

.window.bin_ed article input {
  float: right;
}

.window.bin_ed article .host {
  margin-left: 4px;
  color: grey;
}

.window.bin_ed input[type=button] {
  padding: 2px 16px;
  margin: 2px;
}

.window.bin_ed article {
  padding: 0px 8px;
  height: 28px;
  margin-bottom: 4px;
}

/* Bin save status */

.window.bin_ed[save_status=new] .save_name {
  font-weight: bold;
}
.window.bin_ed[save_status=new] .save_name,
.window.bin_ed[save_status=unsaved] .save_name {
  background-color: rgb(148, 59, 59);
}
