.window.code_ed content {
  width: 256px;
  height: 256px;
}

.window.code_ed textarea,
.window.code_ed .textmirror {
  width: 100%;
  height: calc(100% - 32px);
  overflow: auto;
}

.window.code_ed textarea,
.window.code_ed .textmirror,
.window.code_ed .textmirror line,
.window.code_ed .textmirror span {
  font-family: 'Roboto Mono';
  font-size: 15px;
  background: none;
  overflow-wrap: normal;
  word-break: initial;
  line-height: 20px;
}

.window.code_ed textarea {
  resize: none;
  color: #00000000;
  caret-color: black;
}

.window.code_ed textarea::selection {
  background-color: #00000020;
  color: #00000000;
}

.window.code_ed .textmirror {
  width: calc(100% - 16px);
  height: calc(100% - 69px);
  position: absolute;
  z-index: -1;
  white-space: nowrap;
}

.window.code_ed .textmirror line {
  display: block;
  margin: 0px;
  height: 20px;
}

/* Syntax highlighting */
.window.code_ed .textmirror .keyword {
  color: #0047f2;
}

.window.code_ed .textmirror .comment {
  color: #727272;
}

.window.code_ed .textmirror .number.dec {
  color: #579030;
}

.window.code_ed .textmirror .number.hex {
  color: #9c9c1e;
}

/* Error highlighting */
.window.code_ed .textmirror .error {
  background-color: rgba(255, 0, 0, 0.295);
  display: block;
  margin: 0px;
  width: 1000%; /* That's a hack alright */
}

.window.code_ed .textmirror .error::after {
  content: attr(title);
  margin-left: 16px;
  color: rgb(63, 63, 63);
}

.window.code_ed .textmirror .error + br {
  /* Since the error line is made a block, line break after is redundant */
  display: none;
}
