.window.map_ed content {
  width: 512px;
  height: 512px;
}

.window.map_ed .map_coords {
  font-family: monospace;
  border: inset 2px lightgray;
  padding: 2px;
  margin: auto;
}

.window.map_ed canvas.map {
  width: 100%;
  height: calc(100% - 16px);
}
