.music_ed content {
  min-width: 239px;
  height: 256px;
}

.music_ed, .music_ed td, .music_ed td div {
  font-family: 'Roboto Mono';
}

.music_ed td:first-child {
  padding-right: 8px;
}

.music_ed td div {
  width: 24px;
  text-align: center;
  padding: 0px 2px 0px 2px;
  border: 1px grey solid;
}

/* Rows */

.music_ed tr:nth-child(2n) {
  background-color: #bbb;
}

.music_ed tr.playing {
  background-color: lightblue;
}

/* Play/stop buttons */

.music_ed .play_button,
.music_ed .stop_button {
  visibility: hidden;
}

.music_ed tr.playing .play_button {
  display: none;
}

.music_ed tr:not(.playing) .stop_button {
  display: none;
}

.music_ed tr:hover .play_button {
  visibility: visible;
}

.music_ed tr:hover .stop_button {
  visibility: visible;
}
