.music_ed content {
  min-width: 224px;
  height: 256px;
}

.music_ed, .music_ed td, .music_ed td div {
  font-family: 'Roboto Mono';
}

.music_ed td:first-child {
  padding-right: 8px;
}

.music_ed td div {
  width: 24px;
  text-align: center;
  padding: 0px 2px 0px 2px;
  border: 1px grey solid;
}

/* Rows */

.music_ed tr:nth-child(2n) {
  background-color: #bbb;
}

.music_ed tr.playing {
  background-color: lightblue;
}
