.window.sprite_ed content {
  width: 512px;
  height: 512px;
}

.window.sprite_ed div.panel {
  float: right;
}


.window.sprite_ed canvas.draw {
  width: calc(100% - 48px);
  max-height: calc(100% - 24px);
}

/* Color selection and edition */

.window.sprite_ed .color_select {
  column-count: 2;
  column-gap: 0px;
}

.window.sprite_ed .color_select input[type=radio] {
  display: none;
}

.window.sprite_ed .color_select input[type=color] {
  display: none;
}

.window.sprite_ed .color_select input[type=radio] + label {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0px;
  text-align: center;
  border: 2px inset transparent;
}

.window.sprite_ed .color_select input[type=radio]:checked + label {
  border-color: lightgrey;
}
