.window.sprite_ed content {
  width: 512px;
  height: 512px;
}

.window.sprite_ed div.panel {
  float: right;
}


.window.sprite_ed canvas.draw {
  width: calc(100% - 70px);
  max-height: calc(100% - 24px);
}

.window.sprite_ed content input[type=color] {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: none;
}

/* Style rule for numbers inside color inputs */
.window.sprite_ed content label {
  padding: 4px;
}
