.window.sprite_select_ed content {
  width: 512px;
  height: 256px;
}

.window.sprite_select_ed .sprite_index {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  font-size: 16px;
  padding: 4px;
  margin: auto;
}

.window.sprite_select_ed .wrapper {
  height: calc(100% - 32px);
  overflow-y: auto;
}

.window.sprite_select_ed canvas.spritesheet {
  width: 100%;
}
