body {
  background-color: white;
}

aside {
  width: 180px;
  height: 100%;
  background-color: darkgray;
}

main {
  position: absolute;
  top: 0px;
  left: 180px;
  width: calc(100% - 180px);
  height: 100%;
}

#toolbar {
  background-color: lightgrey;
  border: 2px lightgrey outset;
}

#toolbar .editor_button {
  padding: 4px;
  margin: 2px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

#toolbar .editor_button:hover {
  background-color: lightslategrey;
}

/*
  The overlay appears when it has the active class
  Its function is to block access to underlying editors
*/

#overlay {
  display: none;
}

#overlay.active {
  display: block;
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
  Iframes should not handle mouse events while the user is dragging a window
*/

.window_dragging iframe {
  pointer-events: none;
}
