@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');

* {
  color: hsla(202, 21%, 90%, 1);
}

body {
  overflow: hidden;
}

body > aside {
  position: absolute;
  left: 0px;
  top: 32px;
  width: 180px;
  height: calc(100% - 32px);
  background-color: hsl(200deg 23% 14%);
  overflow-y: auto;
}

body > main {
  position: absolute;
  left: 180px;
  top: 32px;
  width: calc(100% - 180px);
  height: calc(100% - 32px);
  background-color: #111517;
}

/*
  Scrollbars
*/

/* Firefox */

* {
  scrollbar-color: hsl(199deg 26% 19%) #171d22;
}

/* Chrome */

::-webkit-scrollbar {
  background: #171d22;
}

::-webkit-scrollbar-thumb {
  background: hsl(199deg 26% 19%);
}

::-webkit-scrollbar-thumb:hover {
  background: #2f434d;
}

::-webkit-scrollbar-thumb:active {
  background: #557787;
}

/*
  Input button
*/

/* Text version */

input[type=button].text {
  background-color: hsl(199deg 26% 19%);
  padding: 2px 12px;
  margin: 2px 2px;
}

input[type=button].text:hover {
  background-color: hsl(199deg 26% 24%);
}

input[type=button].text:active, input[type=button].text:disabled {
  border-style: inset;
  background-color: grey;
}

/* Non-text version */

input[type=button]:not(.text) {
  opacity: 0.5;
  margin: 2px;
}

input[type=button]:hover {
  opacity: 1;
}

/*
  Input checkbox
*/

checkbox.text {
  padding: 2px 12px;
  margin: 2px 2px;
  background-color: #1c2326;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  opacity: 0.5;
}

input[type=checkbox]:hover + label, input[type=checkbox]:checked + label {
  opacity: 1;
}

checkbox.text input[type=checkbox] + label::before {
  content: "❌";
  width: 18px;
  display: inline-block;
  text-align: center;
}
checkbox.text input[type=checkbox]:indeterminate + label::before {
  content: "❓";
}
checkbox.text input[type=checkbox]:checked + label::before {
  content: "✔️";
}

/*
  Input number
*/

number.text {
  padding: 2px 0px 2px 12px;
  margin: 2px 2px;
  background-color: hsl(199deg 26% 19%);
}

number input[type=number] {
  width: 34px;
  margin-left: 4px;
}

/*
  Input select
*/

select {
  border: 1px hsla(199, 31%, 17%, 1) solid;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background: hsla(198, 25%, 19%, 1);
}

select:disabled {
  background-color: grey;
}

/*
  Input text
*/

input[type=text] {
  padding: 3px 9px;
  border: 1px black inset;
  background-color: hsla(199, 52%, 12%, 1);
}

/*
  Toolbox
*/

#toolbox::before {
  content: "－ Toolbox －";
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  padding-top: 16px;
  display: block;
  text-align: center;
}

#toolbox section {
  margin: 8px 0px;
  outline: 1px solid hsla(200, 15%, 14%, 1);
}

#toolbox article {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding: 8px;
  background-color: hsl(199deg 25% 19%);
  outline: 0.5px solid hsl(199deg 25% 16%);
  color: #ffffff;
  cursor: pointer;
}

#toolbox article.active {
  background-color: hsl(199 26% 24% / 1);
}

#toolbox article:hover {
  background-color: hsl(199deg 26% 29%);
}

#toolbox input {
  float: right;
}

#toolbox article:not(.active) input {
  display: none;
}

/*
  Layout box
*/

#layoutbox::before {
  content: "－ Layoutbox －";
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 8px;
  display: block;
  text-align: center;
}

#layoutbox article {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color:#b6c2c9;
  padding: 6px;
}

#layoutbox input {
  cursor: pointer;
  margin-top: -1px;
  margin-left: 2px;
  background: hsl(199deg 26% 19%);
  float: right;
  border: none;
}

#layoutbox input.load {
  cursor: pointer;
  width: 50px;
  padding: 2px;
}

#layoutbox input:hover {
  background: hsl(199deg 26% 24%);
}

#layoutbox input.save{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 5px;
  width: calc(100% - 10px);
  padding: 8px;
}

/*
  The popup appears above the overlay
*/

#popup {
  display: block;
  position: absolute;
  z-index: 250;
  width: 50%;
  max-height: 30%;
  top: 35%;
  left: 25%;
  text-align: center;
  border: hsla(200, 41%, 35%, 1) solid 1px;
  background-color: hsla(200, 46%, 20%, 1);
  padding: 16px;
}

#popup > #popup_content {
  max-height: calc(30vh - 44px);
  overflow: auto;
}

#popup > .buttons {
  width: 100%;
  margin-top: 1em;
}

#popup > .buttons input{
  padding: 4px 10px;
  margin: 2px;
  background: hsla(199, 52%, 12%, 1);
}

#popup > .buttons input:hover{
  background: hsla(199, 55%, 14%, 1);
}

#popup p {
  margin: 1em;
}

#popup article {
  padding: 8px 8px;
  text-align: left;
}

#popup article:nth-child(2n) {
  background-color: #17303c;
}

#popup article input {
  float: right;
  margin-top: -2px;
}

#popup article .host {
  margin-left: 4px;
  color: grey;
}

/*
  The overlay appears when it has the active class
  Its function is to block access to underlying editors
*/

#overlay {
  display: none;
}

#overlay.active {
  display: block;
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*
  Iframes should not handle mouse events while the user is dragging a window
*/

.window_dragging iframe {
  pointer-events: none;
}
