.window.log_ed content {
  min-width: 256px;
}

.window.log_ed content div article {
  padding: 4px;
  margin: 4px;
  background-color: lightblue;
}

.window.log_ed content div article.error {
  background-color: lightcoral;
}

.window.log_ed content time {
  padding: 4px;
  font-family: monospace; /* Monospace is important to avoid size changes */
}
.window.log_ed content text {
  display: inline-block;
  border-left: 2px solid lightgray;
  padding-left: 4px;
}
