.window.palette_ed content {
  width: 256px;
  height: 128px;
}
.window.palette_ed content input[type=color] {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
}

/* Style rule for numbers inside color inputs */
.window.palette_ed content label {
  position: absolute;
  width: 32px;
  color: white;
  text-shadow: 0px 0px 2px black;
  text-align: center;
  padding-top: 7px;
}
