.window.vm_ed content {
  width: 512px;
  height: 512px;
}

.window.vm_ed content canvas {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: calc(100% - 100px);
}

.window.vm_ed content .error_log {
  height: 64px;
  overflow: auto;
}

.window.vm_ed content .error_log p {
  margin: 0px;
  color: #a73737;
}
