.window {
  position: absolute;
  background-color: lightgrey;
  border: 2px lightgrey outset;
}

.window header {
  padding: 8px;
  background-color: grey;
  text-align: center;
  cursor: move;
}

.window header icon {
  float: right;
  cursor: default;
  opacity: 0.5;
}

.window header icon:hover {
  opacity: 1;
}

.window header icon.close {
  /* Move it up a bit because it's ugly otherwise */
  position: relative;
  bottom: 2px;
}

.window header icon.doc {
  /* It's a single letter so it needs space around to be buttony */
  padding: 0px 8px 0px 8px;
}

.window content {
  min-height: 128px;
  min-width: 128px;
  display: block;
  padding: 8px;
  resize: both;
  overflow: auto;
}
