.window {
  position: absolute;
  background-color: lightgrey;
  border: 2px lightgrey outset;
}

.window header {
  padding: 8px;
  background-color: grey;
  text-align: center;
  cursor: move;
}

.window header icon {
  float: right;
  cursor: help;
  padding: 0px 8px 0px 8px;
}

.window content {
  min-height: 128px;
  min-width: 128px;
  display: block;
  padding: 8px;
  resize: both;
  overflow: auto;
}
